# dependencies
node_modules/
.pnpm-store/

# build output
dist/
dist-electron/
release/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# test
coverage/

# local database
*.sqlite
*.sqlite3
*.db

# editors / os
.DS_Store
Thumbs.db
.idea/
*.swp
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
